
.headling{
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
}

.author-image {
    display:flex;
    margin-top: 20px;
    flex-wrap:wrap;
    justify-content: center;
    padding-left: 20px;
}

.author-image img{
    width:320px;
    height:270px;
    object-fit: cover;
    object-position: bottom;
    margin-left: 25px;
    padding-top: 20px;
    margin-right: 15px;
}

.author-image img:hover{
  cursor: pointer;
  opacity: 0.5;
}